<div class = "activitytable">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-3 cell">
			  	<p class="quote">Activity</p>
			</div>
			<div class="col-xs-3 cell">
			  	<p class="quote">Location</p>
			</div>
			<div class="col-xs-3 cell">
			  	<p class="quote">Link</p>
			</div>
			<div class="col-xs-3 cell">
			  	<p class="quote">Date</p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<% @activities.each do |a| %>
			<div class="row">
				<div class="col-xs-3 cell">
					<%= link_to a.name, a %> 
				</div>
				<div class="col-xs-3 cell">
					<%=a.location%>
				</div>
				<div class="col-xs-3 cell">
					<a href="<%=a.link%>"><%= a.link %></a>
				</div>
				<div class="col-xs-3 cell">
					<%=a.date%>
				</div>
			</div>
		<%end%>
	</div>
</div>

