

<div class = "table-responsive">
	<table class="table">
		<tr>
			<th>
			  	<p class="quote">Activity</p>
			</th>
			<th>
			  	<p class="quote">Location</p>
			</th>
			<th>
			  	<p class="quote">Link</p>
			</th>
		</tr>
		<% @activities.each do |a| %>
		<tr>
				<td>
					<%= link_to a.name, a %> 
				</td>
				<td>
					<%=a.location%>
				</td>
				<td>
					<a href="<%=a.link%>"><%= a.link %></a>
				</td>
			</tr>
		<%end%>
	</table>
</div>

<div style='width: 800px;'>
  <div id="basic_map" style='width: 800px; height: 400px;'></div>
</div>




<script type="text/javascript">
$(document).ready(function(){

	handler = Gmaps.build('Google');
	handler.buildMap({ internal: {id: 'basic_map'}}, function(){
	  if(navigator.geolocation)
	    navigator.geolocation.getCurrentPosition(displayOnMap);
	});

	function displayOnMap(position){
	  var marker = handler.addMarker({
	    lat: <%= @lat %>,
	    lng: <%= @lng %>
	  });
	  handler.map.centerOn(marker);
	};

});
	
</script>

