<div class="indexcontainer">
	<h1 class="fancyfont">Your Activities</h1>
	<div class = "table-responsive">
	<table class="table table-bordered">
		<tr>
			<th>
			  	<p>Activity</p>
			</th>
			<th>
			  	<p>Categories</p>
			</th>
			<th>
			  	<p>Location</p>
			</th>
			<th>
			  	<p>Link</p>
			</th>
		</tr>
		<% @activities.each do |a| %>
		<tr>
			<td>
				<%= link_to a.name, a %> 
			</td>
			<td>
				<% a.categories.each do |c| %>
					<% if c != a.categories.last %>
						<%= link_to c.name, c %>,
					<% else %>
						<%= link_to c.name, c %>
					<% end %>
				<% end %>
			</td>
			<td>
				<%=a.location%>
			</td>
			<td>
				<a href="<%=a.link%>"><%= a.link %></a>
			</td>
		</tr>
		<%end%>
	</table>
</div>
</div>