<div class="basiccontainer">
	<h1 class="fancyfont"><%= @activity.name %></h1>

	<h3><%= @activity.location %></h3>

	<h3><a href="<%= @activity.link %>"><%= @activity.link %></a></h3>

	<h3>Categories:</h3>
	<ul>
	<% @activity.categories.each do |c| %>
	<li><%=c.name%></li>
	<%end%>
</ul>

	<h3>Notes:</h3>
	<%= @activity.notes %> <br><br>
	<%= link_to "Edit", edit_activity_path(@activity) %>
	<%= link_to "Delete", @activity, method: :delete, data: { confirm: 'Are you sure you want to delete this activity?' }  %>

<div style='width: 800px;'>
  <div id="show_map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {zoom: 14, provider_key: "AIzaSyDJJPOQH24cT6ETa9IZacS7NENpUt2MKzA"}, internal: {id: 'show_map'}}, function(){
	  if(navigator.geolocation)
	    navigator.geolocation.getCurrentPosition(displayOnMap);
	});

	function displayOnMap(position){
	  var marker = handler.addMarker({
	    lat: <%= @lat %>,
	    lng: <%= @lng %>,
		infowindow: "<%=@activity.name%>, <%=@activity.location%>"
	  });
	  handler.map.centerOn(marker);
	};
	
</script>

</div>